<template>
  <div>
    <div v-if="isLoading===false" id="visa">
      <form>
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text Span-Label">Name of Subject:</span>
            </div>
            <input id="SubjectName" pattern="[a-zA-Z0-9]+" type="text" required class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text Span-Label">Author:</span>
            </div>
            <input id="AuthorName" pattern="[a-zA-Z0-9]+" type="text" required class="form-control">
          </div>
        </div>

        <br><br>


        <div class="previous"
             v-for="(applicant, counter) in applicants"
             v-bind:key="counter">
          <span @click="deleteCard(counter)">x</span>

          <h3>Question {{counter+1}} :</h3>

          <div class="form-group">
            <label for="Description">Descrption:</label>
            <input id="Description" pattern="[a-zA-Z0-9]+" type="text" v-model.lazy="applicant.Description" required>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Answer">Answer:</label>
              <div class="input-group-prepend">
                <input id="Answer" pattern="[a-zA-Z0-9]+" type="text" v-model.lazy="applicant.Answer" required>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="Option B">Option B:</label>
              <div class="input-group-prepend">
                <input id="Option B" pattern="[a-zA-Z0-9]+" type="text" v-model.lazy="applicant.Question2" required>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Option C">Option C:</label>
              <div class="input-group-prepend">
                <input id="Option C" pattern="[a-zA-Z0-9]+" type="text" v-model.lazy="applicant.Question3" >
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="Option D">Option D:</label>
              <div class="input-group-prepend">
                <input id="Option D" pattern="[a-zA-Z0-9]+" type="text" v-model.lazy="applicant.Question4" >
              </div>
            </div>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="form-row">
            <button @click="addCard">Add Another Card</button>
          </div>
          <div class="form-row">
            <button @click="submit">Submit Subject</button>
          </div>
        </div>
      </form>
    </div>
    <b-alert v-else-if="isLoading" variant="primary" show>
      <b-spinner small/> Submitting Information
    </b-alert>
  </div>
</template>

<script>
import router from "@/router";
export default {
  name: 'CueCard',
  props: {
    msg: String
  },
  data(){
    return {
      isLoading:false,
      subjectID : Number,
      cardID: Number,
      applicants:[
        {
          Description:'',
          Answer: '',
          Question2: '',
          Question3: '',
          Question4: ''
        }
      ]
    }
  },
  methods : {
    addCard(){
      this.applicants.push({
        Description:'',
        Answer: '',
        Question2: '',
        Question3: '',
        Question4: ''
      })
    },
    deleteCard(counter){
      this.applicants.splice(counter,1);
    },
    AlphaNumeric:function (e){  // Accept only alpha numerics, no special characters
      var regex = new RegExp("^[a-zA-Z0-9 ]+$");
      //var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (regex.test(e)) {
        return true;
      }
      console.log("Fail");
      return false;
    },
    ValidateInputs:function (){
      this.applicants.forEach(item=>{
        if(!this.AlphaNumeric(item.Answer) || !this.AlphaNumeric(item.Description) || !this.AlphaNumeric(item.Question2) || !this.AlphaNumeric(item.Question3) || !this.AlphaNumeric(item.Question4))
        {
          return false;
        }
        if(item.Description ==="" || item.Answer ==="" || item.Question2 === false)
        {
          return false;
        }
      })
      if(!this.AlphaNumeric(document.getElementById("AuthorName").value) || !this.AlphaNumeric(document.getElementById("SubjectName").value))
      {
        return false;
      }
      if(document.getElementById("AuthorName").value === "" || document.getElementById("SubjectName").value===false) {
        return false;
      }

      return true;

    },
    postSubject:function () {

      console.log( document.getElementById("SubjectName").value);
      console.log( document.getElementById("AuthorName").value);

      if(this.ValidateInputs()) {
        this.isLoading=true;
        this.axios.post(this.API_URL + "/subjectapi.php", {
          Author: document.getElementById("AuthorName").value,
          Subject: document.getElementById("SubjectName").value
        })
            .then(response => { //Data Section
              console.log(response); //log responce
              this.subjectID = response.data;
              console.log(this.subjectID);
              this.applicants.forEach(item => {
                console.log(item.Description);
                this.postCueCards(item);
                console.log('End');
              })

            }).catch(() => {
              //get the error messages from the api - if the web server responded
              console.log('post error')
            }
        );
      }
    },
    //This creates a cue card and then creates answers to associate with that cue card.
    postCueCards:function (item) {

      console.log("CueCard" + this.subjectID)
      this.axios.post(this.API_URL+"/cuecardapi.php",{description:item.Description, subjectID: this.subjectID}) //create a new cue card object in our database
          .then(response => { //Data Section
            console.log(response.data); //log responce
            this.cardID = response.data; //get the cuecard identifier

            this.postQuestions(item);

            console.log(this.cardID); //going to expect a cuecard id
          }).catch(() => {
        //get the error messages from the api - if the web server responded
        console.log('post error')}
      );

    },
    postQuestions:function(item) {
      this.isLoading = true;
      this.axios.post(this.API_URL + "/answerapi.php", {
        answer: item.Answer,
        correct: true,
        CueCardID: this.cardID
      }) //create a new cue card object in our database
          .then(response => { //Data Section
            console.log(response); //log responce
            this.cuecardID = response.data; //get the cuecard identifier
          }).catch(() => {
            //get the error messages from the api - if the web server responded
            console.log('post error')
          }
      );
      this.axios.post(this.API_URL + "/answerapi.php", {
        answer: item.Question2,
        correct: false,
        CueCardID: this.cardID
      }) //create a new cue card object in our database
          .then(response => { //Data Section
            console.log(response); //log responce
            this.cuecardID = response.data; //get the cuecard identifier
          }).catch(() => {
            //get the error messages from the api - if the web server responded
            console.log('post error')
          }
      );
      if (item.Question3 != "") {
        this.axios.post(this.API_URL + "/answerapi.php", {
          answer: item.Question3,
          correct: false,
          CueCardID: this.cardID
        }) //create a new cue card object in our database
            .then(response => { //Data Section
              console.log(response); //log responce
              this.cuecardID = response.data; //get the cuecard identifier
            }).catch(() => {
              //get the error messages from the api - if the web server responded
              console.log('post error')
            }
        );
      }
      if (item.Question4 != "") {
        this.axios.post(this.API_URL + "/answerapi.php", {
          answer: item.Question4,
          correct: false,
          CueCardID: this.cardID
        }) //create a new cue card object in our database
            .then(response => { //Data Section
              console.log(response); //log responce
              this.cuecardID = response.data; //get the cuecard identifier
            }).catch(() => {
              //get the error messages from the api - if the web server responded
              console.log('post error')
            }
        );

      }
      console.log('End');
      this.isLoading = false;
      router.push({name:("Home")})
    },
    submit(){
      this.postSubject();
    }
  }
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*#visa {*/
/*  margin: 20px auto;*/
/*  max-width: 700px;*/
/*}*/
label{
  display: block;
  margin: 20px 0 10px;
}
input {
  font-size: 30px;
  border: 1px double rgb(102, 97, 96) ;
  border-radius: 4px;
}
button {
  font-size: 16px;
  background: rgb(64, 179, 140);
  padding: 0.4rem 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}
span{
  width: 30px;
  float: right;
  cursor: pointer;
}
span:hover{
  color: brown;
}
.Span-Label{
  width: 200px;
}
.previous{
  border: 1.5px solid;
  padding:5px;
  margin-bottom: 10px;
}

</style>