<template>
  <div>

        <div class="container justify-content-center mw-100">
          <div class="row ">
            <div class="col-lg">
              <form>
                <div class="form-group">
                  <label>Question {{this.Count}}</label>
                  <!--<label>{{this.description}}</label>-->
                </div>
                <h2>{{this.description}}</h2>
                <ol>
                  <li v-for="(answer) in answers" :key="answer.id">
                    <label>
                      <!-- The radio button has three new directives -->
                      <!-- v-bind:value sets "value" to "true" if the response is correct -->
                      <!-- v-bind:name sets "name" to question index to group answers by question -->
                      <!-- v-model creates binding with userResponses -->
                      <input type="radio"
                             v-bind:value="answer.correct"
                             v-bind:name="answer.CueCardID"
                            v-model="userResponses[answer.CueCardID]"
                      > {{ answer.answer}}
                    </label>
                  </li>
                </ol>
              </form>
            </div>
          </div>
        </div>
    <div>
      <h2>
        Quiz finished
      </h2>
      <p>
        Total score: {{ getScore() }} / {{ this.Count }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuizComp',
  props: {
    Count: Number,
    CardID: Number,
    description: String
  },
  data(){
    return {
      questionIndex: 0,
      CardIndex:0,
      // An array initialized with "false" values for each question
      // It means: "did the user answered correctly to the question n?" "no".
      userResponses: Array(10).fill(false),
      counter:Number,
      isLoading:false,
      answers:[]
    }
  },
  methods : {


    getAnswers: function(){

      this.axios.get(this.API_URL + "/answerapi.php", {params:{cuecardID:this.CardID}})
          .then(response => { //Data Section
            console.log(response); //log responce
            this.answers = response.data;

          }).catch(() => {
        //get the error messages from the api - if the web server responded
        console.log('post error')
      })
    },
    getScore: function() {
      return this.userResponses.filter(function(val) { return val }).length;
    }

  },
  // Return "true" count in userResponses
  mounted() {
    this.counter = this.Count;
    this.getAnswers();
  }
}

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*#visa {*/
/*  margin: 20px auto;*/
/*  max-width: 700px;*/
/*}*/
label{
  display: block;
  margin: 20px 0 10px;
}
input {
  font-size: 30px;
  border: 1px double rgb(102, 97, 96) ;
  border-radius: 4px;
}
button {
  font-size: 16px;
  background: rgb(64, 179, 140);
  padding: 0.4rem 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}
span{
  width: 30px;
  float: right;
  cursor: pointer;
}
span:hover{
  color: brown;
}
.Span-Label{
  width: 200px;
}
.previous{
  border: 1.5px solid;
  padding:5px;
  margin-bottom: 10px;
}

</style>