<template >
  <div>

    <div class="container ">
      <!--Row 1-->
      <div class="row justify-content-center ">
        <H2>HOME</H2>
      </div>

      <!--Row 2-->
      <!--Header-->
      <div class="row justify-content-center">
        <img src="../assets/logo.png" alt="LOGO">
      </div>
      <!--Row 3-->
      <div class="row justify-content-center py-3">
        <!--Create New Subject-->
        <button @click="CreateSubject" class="btn btn-lg btn-secondary">Create New Subject</button>
      </div>


      <!--Row 4-->
      <div class="row justify-content-center">

        <div class="col-lg">
          <!--Search By Subject -->
          <div class="input-group mb-3">
            <input type="text" id="SubjectInput" class="form-control" placeholder="Search By Subject" aria-label="Search By Subject" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button @click="SearchBySubject" class="btn btn-secondary btn-outline-secondary" type="button">
                <b-icon variant="light" icon="search"></b-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg">
          <!--Search By Author -->
          <div class="input-group mb-3">
            <input type="text" id="AuthorInput" class="form-control" placeholder="Search By Author" aria-label="Search By Author" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button @click="SearchByAuthor" class="btn btn-secondary btn-outline-secondary" type="button">
                <b-icon icon="search" variant="light"></b-icon>
              </button>
            </div>
          </div>
        </div>


      </div>
      <!--Table for showing results-->
      <div  class="row justify-content-center">

        <table v-if="Results.length" class ="table table-striped">
          <thead class="thead-dark">
          <th>Subject</th>
          <th>Author</th>
          </thead>
          <tbody>
          <tr v-for="item in Results" @click="loadQuiz(item.subjectID)" :key = "item.subjectID">
            <td>{{item.Subject}}</td>
            <td>{{item.Author}}</td>
          </tr>
          </tbody>
        </table>

        <b-alert v-else-if="isLoading" variant="primary" show>
          <b-spinner small/> Fetching Subjects ... This may take a while
        </b-alert>
      </div>

    </div>
  </div>
</template>

<script>


import router from "@/router";

export default {
  name: 'Home',

  data: function () {
    return {
      Results:[],
      isLoading:false
    };
  },
  methods:{
    loadQuiz:function(numb){
      console.log(numb);
      router.push({name:"Quiz",params:{subjectID:numb}});
    },
    SearchByAuthor: function () {
      this.isLoading = true;
      console.log(document.getElementById('AuthorInput').value);
      this.axios.get(this.API_URL+"/subjectapi.php",{params:{Author:document.getElementById('AuthorInput').value}})
          .then(response => { //Data Section
            console.log(response); //log responce
            this.Results = response.data;
          }).catch(() => {
            //get the error messages from the api - if the web server responded
          }
      );
      this.isLoading = false;
    },
    SearchBySubject: function () {
      this.isLoading = true;
      console.log(document.getElementById('SubjectInput').value);
      this.axios.get(this.API_URL+"/subjectapi.php",{params:{Subject:document.getElementById('SubjectInput').value}})
          .then(response => { //Data Section
            console.log(response); //log responce
            this.Results = response.data;
          }).catch(() => {
            //get the error messages from the api - if the web server responded
          }
      );
      this.isLoading = false;
    },
    //this will navigate to the create subject Vue
    CreateSubject: function(){
      router.push({name:'Subject'});
    }
  },
}
</script>


<style scoped>
tr:hover td {background:#95e173}

</style>
