
<template>
  <div class="container" v-show="mounted" id="app">
    <div class="row ">


      <!-- index is used to check with current question index -->
      <div v-for="(question, index) in CueCards" :key = "question.id">
        <!-- Hide all questions, show only the one with index === to current question index -->
        <div v-show="index === questionIndex">
          <h2>{{ question.description }}</h2>
          <ol >
            <li v-for="response in Answers[index]" :key="response.id">
              <label>
                <!-- The radio button has three new directives -->
                <!-- v-bind:value sets "value" to "true" if the response is correct -->
                <!-- v-bind:name sets "name" to question index to group answers by question -->
                <!-- v-model creates binding with userResponses -->
                <input type="radio"
                       v-bind:value="response.correct"
                       v-bind:name="index"
                       v-model="userResponses[index]"> {{response.answer}}
              </label>
            </li>
          </ol>
          <!-- The two navigation buttons -->
          <!-- Note: prev is hidden on first question -->
          <button v-if="questionIndex > 0" v-on:click="prev">
            prev
          </button>
          <button v-on:click="next">
            next
          </button>
        </div>
      </div>
      <div v-show="questionIndex === CueCards.length">
        <h2>
          Quiz finished
        </h2>
        <p>
          Total score: {{ score() }} / {{ CueCards.length }}
        </p>
      </div>
      </div>

  </div>
</template>

<script>

export default {
  name: "Quiz",
  props: ['subjectID']
  ,
  data:function(){
    return {
      // Store current question index
      questionIndex: 0,
      CueCards:Array,
      Answers:[
        [],
        [],
        [],
        []
      ],
      userResponses: Array(10).fill(false),
      Count:0,
      mounted:false
    };
  },
  methods: {
    // Go to next question
    next: function() {
      this.questionIndex++;
    },
    // Go to previous question
    prev: function() {
      this.questionIndex--;
    },
    // Return "true" count in userResponses
    score: function() {
      return this.userResponses.filter(function (val) {
        return val
      }).length;
    },
    getAnswers: function(id,count){
      this.axios.get(this.API_URL + "/answerapi.php", {params:{cuecardID:id}})
          .then(response => { //Data Section
            console.log(response); //log responce
            response.data.forEach(item=>{
              this.Answers[count].push(item);
            })

            count++
          }).catch(() => {
        //get the error messages from the api - if the web server responded
        console.log('post error')
      })
    },
    getCueCards: function(){
      this.axios.get(this.API_URL + "/cuecardapi.php", {params:{SubjectID:this.subjectID}})
          .then(response => { //Data Section
            console.log(response); //log responce
            this.CueCards = response.data;
            let lcounter = 0;
            this.CueCards.forEach(card=>{
              this.getAnswers(card.id,lcounter);
              lcounter++;
            })
            console.log(this.subjectID);
          }).catch(() => {
        //get the error messages from the api - if the web server responded
        console.log('post error')
      })
    },
  },
  beforeMount() {
    this.getCueCards();
  },
  mounted(){
    this.mounted=true;
  }
}
</script>

<style scoped>

</style>