<template>
  <div>
    <div class="container">

      <div class="row justify-content-center">
        <h1>Subject</h1>
      </div>

      <div class="row justify-content-center">
        <img src="../assets/logo.png">
      </div>

    </div>

    <!--<table id='CardTable' class ="table table-striped">-->

      <CueCard></CueCard>

   <!-- <button @click="appendCueCard">New Cue Card</button>-->
  </div>
</template>

<script>
import CueCard from "@/components/CueCard";

export default {
  name: "Subject",
  data:function(){
    return {
    };
  },
  components: {
    CueCard: CueCard

  },
  mounted() {

  }
}
</script>

<style scoped>

</style>